.screen-header__icons > span:last-child {
  position: relative;
}

.main-screen {
  flex-direction: column;
}

.recommended-friends {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
  background-image: url("../../screenshots/space.png");
}

.recommended-friends__title {
  color: white;
  font-size: 15px;
}

.recommended-friends span {
  color: grey;
  display: block;
  text-align: center;
  padding: 110px 0;
  font-size: 17px;
}

.open-chat {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.open-chat__header h4 {
  font-size: 15px;
  color: white;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.3);
}

.open-chat__header i {
  margin-left: 2px;
}

.open-post {
  display: flex;
  flex-direction: column;
}

.open-post__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 15px 0;
}

.open-post__description {
  display: flex;
  flex-direction: column;
}

.open-post__title {
  font-size: 20px;
  font-weight: 600;
  padding: 4px 0;
  color: white;
}

.open-post__hashtags {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--font-grey);
  padding: 6px 0;
  width: 270px;
}

.open-post__info {
  display: flex;
  align-items: center;
}

.open-post__info img {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  border: 0.5px solid grey;
  margin-right: 7px;
}

.open-post__member-count {
  color: var(--font-grey);
}

.open-post__info .divider {
  width: 1px;
  height: 15px;
  background-color: grey;
  margin: 0 5px;
}

.open-post__member-status {
  color: salmon;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: 0.5px solid grey;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6px;
  bottom: 8px;
  opacity: 0.7;
}

.open-post__heart-count i {
  margin-right: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartBeat 0.5s linear infinite;
}

.open-post__column:last-child {
  margin-bottom: 100px;
}
