#login-screen {
  background-image: url("../../screenshots/alien.png");
  background-size: cover;
}

.welcome-header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: white;
}

.welcome-header__title {
  margin-bottom: 15px;
  font-size: 25px;
}

.welcome-header__text {
  margin-top: 20px;
  width: 80%;
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 100px;
}

.login-form__input {
  border: none;
  border-bottom: 1px solid grey;
  transition: border-color 0.5s ease-in-out;
  padding: 20px 0;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
}

.login-form__input::placeholder {
  color: grey;
}

.login-form__input:focus {
  border-color: var(--main-color);
}

.login-form__btn {
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 25px 0px;
  margin-top: 130px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.login-form__btn:hover {
  background-color: white;
}

.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
